<div class="flex-1 px-2 lg:ml-6 lg:justify-end relative">
  <div class="transition-all duration-300 ease-in-out" [ngClass]="{
         'w-52': !isExpanded,
         'w-[24rem]': isExpanded
       }">
    <div class="relative">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3">
        <svg class="h-4 w-4 text-emerald-500" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd"
            d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <input id="search" name="search" type="search" [(ngModel)]="searchTerm" (focus)="expandSearchBar()"
        placeholder="Search"
        class="block w-full rounded-full border border-emerald-500 bg-gray-100 py-1 pl-10 pr-3 text-gray-900 placeholder-gray-400 focus:ring-2 focus:ring-green-500 focus:outline-none sm:text-sm sm:leading-6" />
    </div>
  </div>

  @if (showPanel()) {
  <div class="absolute z-50 top-full left-0 w-full">
    <app-search-panel [searchTerm]="searchTerm()" [active]="showPanel()" (resultSelected)="onResultSelected($event)" />
  </div>
  }

</div>

@if(showInfo()){
<app-info-modal [item]="itemSelected()" [itemName]="itemSelected()?.name" (closeModal)="closeInfoModal()" />
}
