@if(isEditing() == false) {
    @if(neighborhoodItem.neighborhoodSelected() != null) {
      @for(location of locations(); track location) {
        @if(neighborhoodItem.neighborhoodSelected()?.name == location.name) {
            <div [attr.data-trigger]="goToLocation(location, $index)"></div>
        }
      }
    }
}

<div class="map-wrapper relative border border-stu-border rounded-2xl overflow-hidden shadow-inner my-3 bg-stu-input">
  <!-- Contenedor nativo de Leaflet -->
  <div #mapContainer style="height: 400px; width: 100%; z-index: 10;"></div>
</div>
